.BasicContainer {
  display: flex;
  margin-top: 50px;
  margin: 50px 20px;
  font-family: "Nanum Gothic Coding";
}
.boxsizing {
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.planetmap {
  width: 50%;
  flex-shrink: 0;
  padding: 20px;
  margin: 0 auto;
}
/* .planetmap img {
  width: 100%;
} */
.imgCenter {
  text-align: center;
}

.notice {
  position: fixed;
  width: 300px;
  height: 450px;
  text-align: center;
}
.notice p {
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 15px;
  font-size: 1.2em;
}
.notice ul {
  list-style: none;
  margin: 0;
  padding: 0 15px;
}
.notice ul li {
  text-align: justify;
  margin-bottom: 10px;
  line-height: 20px;
}

.notice ul li span {
  color: red;
  font-weight: bold;
}
/* .notice ul li:last-child {
  text-align: right;
  font-weight: bold;
  font-size: 0.8em;
} */

.fontEmphasize {
  font-weight: bold;
  font-size: 1em;
  font-family: "Rubik";
}

/* phone */
.circleContainer {
  display: none;
}

@media (max-width: 760px) {
  .BasicContainer {
    flex-direction: column;
    margin: 20px;
    font-size: 0.8em;
  }
  .notice {
    position: static;
    width: 100%;
    height: 100%;
  }
  .planetmap {
    display: none;
  }
  .circleContainer {
    display: block;
  }
}
