h2,
h3 {
  margin: 0;
}

.GooContainer {
  margin: 50px auto;
}
.candidatesWrap {
  display: flex;
  padding: 30px;
  width: 80%;
  margin: 2rem auto;
  background: #fff;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  font-family: "Nanum Gothic", sans-serif;
}

.candidatesImage {
  width: 25%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 0;
}
.candidatesImage img {
  width: 100%;
  height: 100%;
}

.__hooboImage {
  height: 330px;
  padding: 1px;
}

.__kiho {
  background: #fff;
  color: #000;
  padding: 5px 0;
  font-family: "Nanum Gothic";
}
.__kiho img {
  height: 100%;
}
.__kiho h2 {
  padding: 5px;
  font-weight: bolder;
  margin-bottom: 5px;
}

.__gongyark {
  padding: 0 3%;
  width: 69%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.__gongyark ul {
  margin-left: 30px;
  padding: 0;
}
.__gongyark ul li {
  text-align: left;
  list-style: none;
}

.__introduce {
  flex-basis: 20%;
  text-align: center;
}
.__introduce h2 {
  font-size: 3em;
}
.__desc {
  flex-basis: 60%;
}
.__desc ul {
}
.__desc ul li {
}
.dangImg {
  flex-basis: 20%;
  padding: 5px;
  height: 100px;
}
.dangImg img {
  width: 60%;
  height: 100%;
}

/* 미완성 */

.yetDev {
  font-size: 2em;
  text-align: center;
}

/* area */
.__area {
  width: 20%;
  text-align: center;
  margin: 2rem auto;
  padding: 20px;
  font-size: 1em;
}

/* 갑 , 을 에 대한 동  */
.dong {
  width: 70%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-size: 1em;
}
.dong h1 {
  margin: 0;
}

@media (max-width: 760px) {
  .GooContainer {
    margin: 20px auto 0px;
  }
  .candidatesWrap {
    margin: 20px auto;
    padding: 20px;
    display: block;
  }
  .candidatesImage {
    width: 100%;
    flex-direction: column-reverse;
  }
  .__hooboImage {
    margin: 20px;
    height: 300px;
  }
  .__gongyark {
    width: 100%;
    font-size: 1em;
  }
  .__desc {
    font-size: 0.8em;
  }
  .__desc ul {
    margin: 20px 5px;
  }
  .__introduce h2 {
    font-size: 1em;
  }
  .dangImg {
    margin: 0 auto;
    width: 80%;
    height: 50px;
  }
  .dong {
    font-size: 0.5em;
  }
  .__kiho h2 {
    margin-bottom: 0;
  }
}
