header {
  height: 80px;
  box-sizing: border-box;
  flex-shrink: 0;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 10px 20px;
  z-index: 3;
  text-align: center;
  background: #fff;
  border-radius: 5px;
}

.header-container {
  height: 100%;
  padding: 0 20px;
}
.header-contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contents .logo {
  color: #111;
  font-size: 3.3em;
  text-decoration: none;
  font-weight: bold;
  font-family: "Fredoka One";
  font-family: "Montserrat";
}
.header-contents a:hover {
  color: #444;
}
.header-contents button {
  padding: 19px;
  border: 0;
  background-color: transparent;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}
.header-contents button:hover {
  background-color: #f0f0f0;
  transition: 1s ease-in-out;
}

/* infoList */

.infoList {
  position: absolute;
  width: 250px;
  left: -100px;
  top: 83px;
}
.infoList div {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  padding: 3px;
}

.infoList a,
.infoList a:visited {
  font-family: "Rubik";
  text-decoration: none;
  color: #222;
}
@media (max-width: 760px) {
  .header-contents a {
    font-size: 1.5em;
  }
  .header-contents a svg {
    width: 25px;
  }
}
