.circleContainer {
  margin-top: 20px;
}

.circleWrapper {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}
.borderradius {
  width: 100%;
  height: 100%;
  border-radius: 30%;
  font-size: 1.5em;
  font-weight: bold;
}
.phoneLink {
  width: 25%;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #000;
  text-decoration: none;
}
.phoneLink:visited {
  text-align: none;
}
.phoneLink:hover {
  opacity: 0.5;
}

/* animation */
